In [1]:
import numpy as np
import pandas as pd

### String Object Methods

In [2]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

In [3]:
# split is often combined with strip to trim whitespace
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [4]:
# These  substrings  could  be  concatenated  together  with  a  two-colon  delimiter  using addition:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [5]:
'::'.join(pieces)

'a::b::guido'

In [6]:
'guido' in val

True

In [7]:
print(val)
val.index(',')

a,b,  guido

1

In [8]:
val.find(':')

-1

In [9]:
val.count(',')

2

In [10]:
val.replace(',', '')

'ab  guido'

Python built-in string methods
![Python built-in string methods](./figs/7-3.jpg)

### Regular Expressions

In [11]:
import re

In [12]:
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [13]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [14]:
regex.findall(text)

['    ', '\t ', '  \t']

In [15]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [16]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [17]:
# search returns a special match object
m = regex.search(text)
m

In [18]:
text[m.start():m.end()]

'dave@google.com'

In [19]:
print(text)
print(regex.match(text))

Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com

None

In [20]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [21]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [22]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [23]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

Regular expression methods
![Regular expression methods](./figs/7-4.jpg)

### Vectorized String Functions in pandas

In [24]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
   .....:         'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [25]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [26]:
# data.map will fail on the NA values. 
# string operations will skip NA values
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [27]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [28]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [29]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [30]:
matches.str.get(1)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [31]:
matches.str[0]

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [32]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

 Partial listing of vectorized string methods
 ![ Partial listing of vectorized string methods](./figs/7-5.jpg)