In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 7, 13, 20, 28, 8, 41140)

In [3]:
now.year, now.month, now.day

(2019, 7, 13)

In [4]:
# timedelta
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
# you can add or subtract a timedelta or multiple
from datetime import timedelta
start = datetime(2011,1,7)
start

datetime.datetime(2011, 1, 7, 0, 0)

In [8]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2*  timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

Types in datetime module
![Types in datetime module](./figs/11-1.jpg)

## Converting Between String and Datetime

In [10]:
stamp = datetime(2011,1,3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

Datetime format specifi cation  (ISO C89 compatible)
![Datetime format specifi cation  (ISO C89 compatible)](./figs/11-2.jpg)

In [13]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
# parser.parse method in the third-party dateutil package
from dateutil.parser import parse

In [16]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [18]:
# pass dayfirst = True to indicate day appearing before month
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [19]:
# pandas
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [20]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [21]:
idx[2]

NaT

In [22]:
pd.isnull(idx)

array([False, False,  True])

Locale-specific  date formatting
![ Locale-specific  date formatting](./figs/11-3.jpg)