In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
          datetime(2011, 1, 7), datetime(2011, 1, 8),
          datetime(2011, 1, 10), datetime(2011, 1, 12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [3]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.452175
2011-01-05   -1.248121
2011-01-07   -1.662931
2011-01-08   -0.839823
2011-01-10    1.124087
2011-01-12   -0.907128
dtype: float64

In [4]:
# convert the sample time series to be fixed-freqquency date ranges
resampler = ts.resample('D')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating Date Ranges

In [5]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

Base time series frequencies
![Base time series frequencies](./figs/11-4.jpg)

In [9]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Off sets

In [11]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [12]:
# You can define a multiple of an offset by passing an integer:
four_hours = Hour(4)
four_hours

In [13]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [14]:
Hour(2) + Minute(30)

In [15]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [16]:
pd.date_range('2000-01-01', periods=10, freq=Hour(2) + Minute(30))

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 02:30:00',
               '2000-01-01 05:00:00', '2000-01-01 07:30:00',
               '2000-01-01 10:00:00', '2000-01-01 12:30:00',
               '2000-01-01 15:00:00', '2000-01-01 17:30:00',
               '2000-01-01 20:00:00', '2000-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')

#### Week of month dates

In [17]:
# One useful frequency class is “week of month,” starting with  WOM . 
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [18]:
ts = pd.Series(np.random.randn(4),
                index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [19]:
ts

2000-01-31    0.676176
2000-02-29   -0.736094
2000-03-31    0.345572
2000-04-30   -0.040924
Freq: M, dtype: float64

In [20]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.088614
2000-03-31   -1.469467
2000-04-30   -1.118423
Freq: M, dtype: float64

In [21]:
ts.shift(2, freq='M')

2000-03-31    0.676176
2000-04-30   -0.736094
2000-05-31    0.345572
2000-06-30   -0.040924
Freq: M, dtype: float64

In [22]:
ts.shift(3, freq='D')

2000-02-03    0.676176
2000-03-03   -0.736094
2000-04-03    0.345572
2000-05-03   -0.040924
dtype: float64

In [23]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.676176
2000-02-29 01:30:00   -0.736094
2000-03-31 01:30:00    0.345572
2000-04-30 01:30:00   -0.040924
Freq: M, dtype: float64

## Shifting dates with off sets

In [24]:
from pandas.tseries.offsets import Day, MonthEnd

In [25]:
now = datetime(2011, 11, 17)
now

datetime.datetime(2011, 11, 17, 0, 0)

In [26]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [27]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [28]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [29]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [30]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [31]:
ts = pd.Series(np.random.randn(20),
                index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [32]:
ts

2000-01-15   -1.296266
2000-01-19   -0.828605
2000-01-23   -1.729814
2000-01-27   -1.316196
2000-01-31   -0.016356
2000-02-04    0.637250
2000-02-08   -0.057886
2000-02-12   -0.522926
2000-02-16   -1.038983
2000-02-20    0.473565
2000-02-24   -0.191071
2000-02-28    2.136185
2000-03-03    0.435566
2000-03-07   -0.217618
2000-03-11   -0.450492
2000-03-15    0.107067
2000-03-19    0.065834
2000-03-23   -0.772890
2000-03-27    1.144173
2000-03-31   -0.124750
Freq: 4D, dtype: float64

In [33]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -1.037447
2000-02-29    0.205162
2000-03-31    0.023361
dtype: float64

In [34]:
ts.resample('M').mean()

2000-01-31   -1.037447
2000-02-29    0.205162
2000-03-31    0.023361
Freq: M, dtype: float64