In [1]:
import pytz
import numpy as np
import pandas as pd

In [2]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [3]:
tz = pytz.timezone('America/New_York')
tz

## Time Zone Localization and Conversion

In [4]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [5]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.882122
2012-03-10 09:30:00   -1.038846
2012-03-11 09:30:00    0.939881
2012-03-12 09:30:00    0.204923
2012-03-13 09:30:00   -0.037269
2012-03-14 09:30:00    0.843981
Freq: D, dtype: float64

In [6]:
print(ts.index.tz)

None

In [7]:
# Date ranges can be generated with a time zone set
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [8]:
# Conversion from naive to localized is handled by the  tz_localize  method:
ts

2012-03-09 09:30:00   -0.882122
2012-03-10 09:30:00   -1.038846
2012-03-11 09:30:00    0.939881
2012-03-12 09:30:00    0.204923
2012-03-13 09:30:00   -0.037269
2012-03-14 09:30:00    0.843981
Freq: D, dtype: float64

In [9]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.882122
2012-03-10 09:30:00+00:00   -1.038846
2012-03-11 09:30:00+00:00    0.939881
2012-03-12 09:30:00+00:00    0.204923
2012-03-13 09:30:00+00:00   -0.037269
2012-03-14 09:30:00+00:00    0.843981
Freq: D, dtype: float64

In [10]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [11]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.882122
2012-03-10 04:30:00-05:00   -1.038846
2012-03-11 05:30:00-04:00    0.939881
2012-03-12 05:30:00-04:00    0.204923
2012-03-13 05:30:00-04:00   -0.037269
2012-03-14 05:30:00-04:00    0.843981
Freq: D, dtype: float64

In [12]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern

2012-03-09 09:30:00-05:00   -0.882122
2012-03-10 09:30:00-05:00   -1.038846
2012-03-11 09:30:00-04:00    0.939881
2012-03-12 09:30:00-04:00    0.204923
2012-03-13 09:30:00-04:00   -0.037269
2012-03-14 09:30:00-04:00    0.843981
Freq: D, dtype: float64

In [13]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.882122
2012-03-10 14:30:00+00:00   -1.038846
2012-03-11 13:30:00+00:00    0.939881
2012-03-12 13:30:00+00:00    0.204923
2012-03-13 13:30:00+00:00   -0.037269
2012-03-14 13:30:00+00:00    0.843981
Freq: D, dtype: float64

In [14]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.882122
2012-03-10 15:30:00+01:00   -1.038846
2012-03-11 14:30:00+01:00    0.939881
2012-03-12 14:30:00+01:00    0.204923
2012-03-13 14:30:00+01:00   -0.037269
2012-03-14 14:30:00+01:00    0.843981
Freq: D, dtype: float64

In [15]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

###  Operations with Time Zoneâˆ’Aware Timestamp Objects

In [16]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp

Timestamp('2011-03-12 04:00:00')

In [17]:
stamp_utc = stamp.tz_localize('utc')
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [18]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [19]:
# you can also pass a time zone when creating the Timestamp
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [20]:
# nanoseconds since the Unix epoch (January 1, 1970)
stamp_utc.value

1299902400000000000

In [21]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [22]:
from pandas.tseries.offsets import Hour

In [23]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [24]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [25]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [26]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Diff erent Time Zones

In [27]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.878306
2012-03-08 09:30:00   -0.477552
2012-03-09 09:30:00    1.094001
2012-03-12 09:30:00   -1.155444
2012-03-13 09:30:00    0.937443
2012-03-14 09:30:00   -0.488126
2012-03-15 09:30:00   -0.608863
2012-03-16 09:30:00   -0.109042
2012-03-19 09:30:00    0.665568
2012-03-20 09:30:00    0.702470
Freq: B, dtype: float64

In [28]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    2.188002
2012-03-12 09:30:00+00:00   -2.310889
2012-03-13 09:30:00+00:00    1.874886
2012-03-14 09:30:00+00:00   -0.976252
2012-03-15 09:30:00+00:00   -1.217726
Freq: B, dtype: float64

In [29]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')