In [1]:
import pytz
import pandas as pd
import numpy as np

In [2]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [3]:
# time shifting
p+5

Period('2012', 'A-DEC')

In [4]:
pd.Period('2014', freq='A-DEC') - p

In [5]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [6]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -2.235734
2000-02   -2.053272
2000-03    1.024644
2000-04    0.137423
2000-05   -0.505331
2000-06   -1.121234
Freq: M, dtype: float64

In [7]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversion

In [8]:
p = pd.Period('2007', freq='A-DEC')
p

Period('2007', 'A-DEC')

In [9]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [10]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [11]:
p = pd.Period('2007', freq='A-JUN')
p

Period('2007', 'A-JUN')

In [12]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [13]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [14]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [15]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006    0.349748
2007   -0.750017
2008   -0.595290
2009    1.812420
Freq: A-DEC, dtype: float64

In [16]:
ts.asfreq('M', how='start')

2006-01    0.349748
2007-01   -0.750017
2008-01   -0.595290
2009-01    1.812420
Freq: M, dtype: float64

In [17]:
ts.asfreq('B', how='end')

2006-12-29    0.349748
2007-12-31   -0.750017
2008-12-31   -0.595290
2009-12-31    1.812420
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [18]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [19]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [20]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [21]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [22]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [23]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [24]:
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [25]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]', freq='T')

In [26]:
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

### Converting Timestamps to Periods (and Back)

In [27]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31    1.644443
2000-02-29   -0.861079
2000-03-31   -0.433863
Freq: M, dtype: float64

In [28]:
pts = ts.to_period()
pts

2000-01    1.644443
2000-02   -0.861079
2000-03   -0.433863
Freq: M, dtype: float64

In [29]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2000-01-29   -1.015817
2000-01-30    0.098287
2000-01-31    1.596612
2000-02-01    2.291791
2000-02-02   -1.382874
2000-02-03    0.602345
Freq: D, dtype: float64

In [30]:
ts2.to_period('M')

2000-01   -1.015817
2000-01    0.098287
2000-01    1.596612
2000-02    2.291791
2000-02   -1.382874
2000-02    0.602345
Freq: M, dtype: float64

In [31]:
pts = ts2.to_period()
pts

2000-01-29   -1.015817
2000-01-30    0.098287
2000-01-31    1.596612
2000-02-01    2.291791
2000-02-02   -1.382874
2000-02-03    0.602345
Freq: D, dtype: float64

In [32]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999   -1.015817
2000-01-30 23:59:59.999999999    0.098287
2000-01-31 23:59:59.999999999    1.596612
2000-02-01 23:59:59.999999999    2.291791
2000-02-02 23:59:59.999999999   -1.382874
2000-02-03 23:59:59.999999999    0.602345
Freq: D, dtype: float64

### Creating a PeriodIndex from Arrays

In [33]:
data = pd.read_csv('dataset/macrodata.csv')
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [34]:
data.year.head()

0    1959.0
1    1959.0
2    1959.0
3    1959.0
4    1960.0
Name: year, dtype: float64

In [35]:
data.quarter.head()

0    1.0
1    2.0
2    3.0
3    4.0
4    1.0
Name: quarter, dtype: float64

In [36]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                        freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [37]:
data.index = index
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64