One of the easiest ways to store data (also known as serialization) efficiently in binary
format  is  using  Pythonâ€™s  built-in  pickle   serialization.  pandas  objects  all  have  a
to_pickle  method that writes the data to disk in pickle format:

In [1]:
import numpy as np
import pandas as pd

In [2]:
frame = pd.read_csv('examples/ex1.csv')
frame.to_pickle('frame_pickle')

In [3]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Reading Microsoft Excel Files

In [4]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [5]:
# if you are reading multiple sheets in a file
frame = pd.read_excel('examples/ex1.xlsx','Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [6]:
# to write pandas data to Excel format, you must first create an ExcelWriter,
writer = pd.ExcelWriter('ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [7]:
# you can also pass a file path
frame.to_excel('ex2.xlsx')